/* Travelogue Styling Start */
:root{
    --primary-color:#2E8B57;
    --secondary-color:#F0E68C;
    --text-accent:#12dda08e;
    --nutral-color:#333;
    --background-light:#F8F8F8;
}
/* Universal Style Start From Here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Universal Style End */
/* Common Style Start */
body{
    background-color: var(--background-light);
    color: var(--nutral-color);
    overflow-x: hidden;
 
}

/* Common Style End */
/* Navbar Style Start */
.website-name{
    font-size: 1.3rem;
    color: var(--primary-color);
}
.nav-container{
    height: 60px;
    background-color: var(--background-light);
}
.nav-link-container{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}
.nav-link a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--nutral-color);

}
.nav-link a:hover{
    color: var(--primary-color);
}
/* Navbar Responsive Start */
@media only screen and (max-width: 600px) {
    .nav-link-container {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      padding-bottom: 10px;
   
    }
    .nav-link a{
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--text-accent);
    
    }
    .nav-container{
        height: 60px;
        background-color: var(--background-light);
        margin-bottom: 5rem;
    }

 
  }

@media only screen and (max-width: 479px){
    
}
/* Navbar Responsive End */
/* Navbar Style End */
/* Header Section Start */
.hero-container{
    background-image: url("./images/bg.jpg");
    width: 100vw;
    height: min(100vh - 60px);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.welcome-message{
    font-size: 2.5rem;
    position: relative;
    top: 7rem;
    text-align: center;
    color:var(--primary-color);
}



/* Header Section End */

/* Destination Page Style Start */
.travel-card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 16px;
    padding-top: 3rem;

}
.travel-card{
    border-radius: 5px;
}
.travel-img{
    max-width: 100%;
    max-height: 40vh;
}
.travel-location{
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 16px 0;
}
.travel-short-description{
    font-size: 1rem;
    color: var(--nutral-color);
    padding: 16px 0;
}
.learn-more-btn{
    padding: 8px 12px;
    border: none;
    background-color: var(--text-accent);
    color: var(--nutral-color);
    border-radius: 5px;
}
/* Destination Responsive Start */
@media only screen and (max-width:600px){
    .travel-card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 16px;
        max-width: 100%;
        overflow: hidden;
    }
    .travel-card{
        border-radius: 5px;
    }
    .travel-img{
        max-width: 100%;
        max-height: 40vh;
    }
    .nav-container{
        height: 60px;
        background-color: var(--background-light);
        margin-bottom: 5rem;
    }
}

/* Destination Responsive End */
/* Destination Page Style End */

/* travel log page style start */
table,th,td{
    border:1px solid var(--text-accent)

}
table{
    width: 100vw;
    border-collapse: collapse;
    font-size: 1.2rem;
    color: var(--nutral-color);
}
th, td{
    padding: 10px;
}
/* travel log page style end */
/* Share Story Page Style Start */
.form-container{  
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 20px 10px;
    max-width: 100vw;
    background-color: var(--text-accent);
}
.input-filed{
    width: 30%;
    padding: 8px 12px;
    margin-top: 1rem;
}
.input-filed:focus{
    width: 30%;
    padding: 8px 12px;
    margin-top: 1rem;
    border-radius: 5px;
}
#select-country{
    margin: 1rem 0;
}
.experience-box{
    padding: 1rem;
}
.form-submit-btn{
    width: 20%;
    margin: auto;
    background-color: var(--primary-color);
    padding: 8px 12px ;
    border: none;
    border-radius: 5px;
    color: var(--nutral-color);
    font-size: 1.2rem;
}
.form-submit-btn:hover{
    background-color: var(--secondary-color);
}
/* Share Stroy Page Style End */
/* Footer Section Style Start */
.footer-container{
    background-color: var(--nutral-color);
    margin-top: 5rem;
    padding-bottom: 5rem;
    color: #ADD8E6;
    
}
.contact-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
   

}
.contact-container div ul li{
    list-style-type: none;
}
#copyright-text{
    text-align: center;
    margin-top: 2rem;
}

@media only screen and (max-width:600px){
    .contact-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
    
    } 
}

/* Footer Section Style End */
/* Travelogue Styling End */



